
table {
	border-collapse: collapse;
}

  TD, TH {
    padding: 3px; 
    border: 1px solid black; 
   }

.green{
	width: 220px;
	background-color: #17bba0;
	color: #fff;
}

.blue{
	width: 200px;
	background-color: #3599d5;
	color: #fff;
}



